<form id="form1" action="/items" method="post">
  <label for="name">Enter name of item:</label>
  <input id="name" name="name" type="text">
  <label for="packed">Is it packed?</label>  
  <input type="checkbox" name="packed" id="packed" value="true">
  <label for="purchased">Is it purchased?</label>  
  <input type="checkbox" name="purchased" id="purchased" value="true">
  <label for="price">Enter price of item:</label>
  <input id="price" name="price" type="number">
  <label for="weight">Enter weight of item(lbs):</label>
  <input id="weight" name="weight" type="number">
  <button type="submit">Submit</button>
</form>